@import url("font.css");
@import url("animation.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-600 font-LeeSeoyun max-w-3xl w-11/12 mx-auto bg-background dark:bg-slate-800 dark:text-slate-200;
  }
  h1,
  nav {
    @apply font-LOTTERIACHAB;
  }
  h1 {
    @apply text-brand dark:text-brandDark;
  }
  nav li.active {
    @apply dark:text-slate-800;
  }

  /* calendar date, months style */
  .activeNum,
  .inactiveNum {
    @apply w-8 py-1;
  }
  .activeNum {
    @apply bg-blue-100 rounded-full dark:text-slate-800;
  }
  button:disabled {
    @apply text-slate-300 dark:text-slate-600;
  }
}

@layer components {
  /* Common Modal */
  .modalWrap {
    @apply flex items-center justify-center w-full h-full fixed top-0 left-0 bg-shadow z-50;
  }
  .modal {
    width: 80%;
    max-width: 350px;
    padding: 1.2rem 1rem 1rem 1rem;
    border-radius: 1rem;
    @apply bg-white dark:bg-slate-500 dark:text-slate-800;
  }
  .modalBottom {
    @apply fixed bottom-0 left-0 pt-5 pb-3 w-full bg-white rounded-t-2xl dark:bg-slate-600;
  }

  /* Calendar Today Button */
  .btnToday {
    @apply fixed bottom-24 left-2/4 -translate-x-5 text-brand mt-6;
  }
  .btnToday:after {
    content: ">>";
    position: absolute;
    transform: rotate(-90deg);
    right: 38%;
    top: -1rem;
    animation: moveToTop 2s infinite;
  }
}
